<h1>Listing userrs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userrs.each do |userr| %>
  <tr>
    <td><%= userr.name %></td>
    <td><%= userr.email %></td>
    <td><%= link_to 'Show', userr %></td>
    <td><%= link_to 'Edit', edit_userr_path(userr) %></td>
    <td><%= link_to 'Destroy', userr, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userr', new_userr_path %>
